body { 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
}

table { 
    width: 100%; 
    border-collapse: collapse;
}

th, td { 
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left;
}

.botons {
    text-align: center;
    margin-bottom: 20px;
}

button { 
    margin: 0 60px; 
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}